@font-face {
    font-family: 'Caviar Dreams';
    src:url('../font/caviar/CaviarDreams.ttf');
    }
    @font-face {
        font-family: 'Museo Sans';
        src:url('../font/museo/Museo300-Regular.otf');
        }